/* @link https://utopia.fyi/type/calculator?c=320,12,1.125,1248,18,1.2,5,2,&s=0.75|0.5|3,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
  --size--2: clamp(0.5926rem, 0.5275rem + 0.3253vw, 0.7813rem);
  --size--1: clamp(0.6667rem, 0.5733rem + 0.467vw, 0.9375rem);
  --size-0: clamp(0.75rem, 0.6207rem + 0.6466vw, 1.125rem);
  --size-1: clamp(0.8438rem, 0.6692rem + 0.8728vw, 1.35rem);
  --size-2: clamp(0.9492rem, 0.7179rem + 1.1565vw, 1.62rem);
  --size-3: clamp(1.0679rem, 0.7658rem + 1.5106vw, 1.944rem);
  --size-4: clamp(1.2014rem, 0.8112rem + 1.9508vw, 2.3328rem);
  --size-5: clamp(1.3515rem, 0.8523rem + 2.4963vw, 2.7994rem);
}


/* @link https://utopia.fyi/space/calculator?c=320,14,1.125,1248,20,1.333,5,2,&s=0.75|0.4|0.25,1.5|2|3|4|6,s-l|s-xl|m-3xl|xs-m|xs-l&g=s,l,xl,12 */

:root {
  --space-3xs: clamp(0.25rem, 0.2284rem + 0.1078vw, 0.3125rem);
  --space-2xs: clamp(0.375rem, 0.3319rem + 0.2155vw, 0.5rem);
  --space-xs: clamp(0.6875rem, 0.6013rem + 0.431vw, 0.9375rem);
  --space-s: clamp(0.875rem, 0.7457rem + 0.6466vw, 1.25rem);
  --space-m: clamp(1.3125rem, 1.1185rem + 0.9698vw, 1.875rem);
  --space-l: clamp(1.75rem, 1.4914rem + 1.2931vw, 2.5rem);
  --space-xl: clamp(2.625rem, 2.2371rem + 1.9397vw, 3.75rem);
  --space-2xl: clamp(3.5rem, 2.9828rem + 2.5862vw, 5rem);
  --space-3xl: clamp(5.25rem, 4.4741rem + 3.8793vw, 7.5rem);

  /* One-up pairs */
  --space-3xs-2xs: clamp(0.25rem, 0.1638rem + 0.431vw, 0.5rem);
  --space-2xs-xs: clamp(0.375rem, 0.181rem + 0.9698vw, 0.9375rem);
  --space-xs-s: clamp(0.6875rem, 0.4935rem + 0.9698vw, 1.25rem);
  --space-s-m: clamp(0.875rem, 0.5302rem + 1.7241vw, 1.875rem);
  --space-m-l: clamp(1.3125rem, 0.903rem + 2.0474vw, 2.5rem);
  --space-l-xl: clamp(1.75rem, 1.0603rem + 3.4483vw, 3.75rem);
  --space-xl-2xl: clamp(2.625rem, 1.806rem + 4.0948vw, 5rem);
  --space-2xl-3xl: clamp(3.5rem, 2.1207rem + 6.8966vw, 7.5rem);

  /* Custom pairs */
  --space-s-l: clamp(0.875rem, 0.3147rem + 2.8017vw, 2.5rem);
  --space-s-xl: clamp(0.875rem, -0.1164rem + 4.9569vw, 3.75rem);
  --space-m-3xl: clamp(1.3125rem, -0.8211rem + 10.6681vw, 7.5rem);
  --space-xs-m: clamp(0.6875rem, 0.278rem + 2.0474vw, 1.875rem);
  --space-xs-l: clamp(0.6875rem, 0.0625rem + 3.125vw, 2.5rem);
}