
/* LEGACY CODE - NOT INCLUDED IN THE PROJECT ANYMORE */


:root {
  --_center-measure: 1100px;
  --_stack-space: var(--space-s);

  --link-color: var(--primary-color);

  --base-padding-block: var(--space-s);
  --base-padding-inline: var(--space-l);

  --base-gutter: var(--space-xs);

  --base-separator: 1px solid var(--base-color-10-tint);
  --base-separator-dark: 1px solid var(--base-color-80-tint);

  --sidebar-padding-inline: var(--space-s-m);
  --sidebar-padding-block: var(--space-m);
  --sidebar-left-color: var(--base-color);

  --ui-padding-block: var(--space-s);
  --ui-padding-inline: var(--space-s);

  --sidebar-right-width: 400px;
  --sidebar-left-width: 300px;
}

/* Effects */
:root {
  --border: 2px solid currentColor;

  --border-radius-s: 4px;
  --border-radius-m: 8px;
  --border-radius-l: 12px;

  --box-shadow-inset: inset rgba(0, 0, 0, 0.03) 0px 0px 4px 0px;

  --box-shadow-s: rgba(0, 0, 0, 0.03) 0px 3px 4px 0px;

  --box-shadow-m: rgba(0, 0, 0, 0.03) 0px 3px 4px 0px, rgba(0, 0, 0, 0.03) 0px 0px 4px 0px, rgba(0, 0, 0, 0.03) 0px 0px 8px 0px,
    rgba(0, 0, 0, 0.035) 0px 0px 16px 0px;

  --box-shadow-l: rgba(0, 0, 0, 0.03) 0px 3px 4px 0px, rgba(0, 0, 0, 0.03) 0px 0px 4px 0px, rgba(0, 0, 0, 0.03) 0px 0px 8px 0px,
    rgba(0, 0, 0, 0.05) 0px 0px 16px 0px, rgba(0, 0, 0, 0.035) 0px 0px 32px 0px;
}

/* Inputs */
:root {
  --_input-font-size: var(--size-0);
  --_input-padding-block: calc(var(--space-xs) + var(--_input-border-width));
  --_input-padding-inline: var(--space-s);
  --_input-border-width: 1px;
  --_input-border-style: solid;
  --_input-border-color: var(--base-color-20-tint);
  --_input-border-color-focus: var(--base-color-40-tint);
  --_input-background-color: var(--base-color-07-tint);
  --_input-color: var(--base-color);
  --_input-border-radius: var(--border-radius-s);

  /* Multiselect */
  --_multiselect-padding-block: var(--_input-padding-block);
  --_multiselect-padding-inline: var(--_input-padding-inline);
  --_multiselect-border-width: var(--_input-border-width);
  --_multiselect-border-color: var(--_input-border-color);
  --_multiselect-border-radius: var(--_input-border-radius);
  --_multiselect-font-size: var(--_input-font-size);
  --_multiselect-background: var(--_input-background-color);
  --_multiselect-color: var(--_input-color);
  --_multiselect-shadow: var(--box-shadow-l);
}