@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14assets32,100assets900;1,14assets32,100assets900&display=swap');

@import url("https://use.typekit.net/tsd2tcy.css");


:root {
  --body-font: "trade-gothic-next", sans-serif;
  --body-font-weight: 400;
  --body-font-style: normal;

  --font-family-icon: "Material Icons";
}


/* Trade Gothic Next LT Pro Light
font-family: "trade-gothic-next", sans-serif;
font-weight: 300;
font-style: normal;
Trade Gothic Next LT Pro Light Italic
font-family: "trade-gothic-next", sans-serif;
font-weight: 300;
font-style: italic;
Trade Gothic Next LT Pro Regular
font-family: "trade-gothic-next", sans-serif;
font-weight: 400;
font-style: normal;
Trade Gothic Next LT Pro Italic
font-family: "trade-gothic-next", sans-serif;
font-weight: 400;
font-style: italic;
Trade Gothic Next LT Pro Bold
font-family: "trade-gothic-next", sans-serif;
font-weight: 700;
font-style: normal;
Trade Gothic Next LT Pro Bold Italic
font-family: "trade-gothic-next", sans-serif;
font-weight: 700;
font-style: italic;
Trade Gothic Next LT Pro Heavy
font-family: "trade-gothic-next", sans-serif;
font-weight: 800;
font-style: normal;
Trade Gothic Next LT Pro Heavy Italic
font-family: "trade-gothic-next", sans-serif;
font-weight: 800;
font-style: italic;
Trade Gothic Next SR Pro Regular
font-family: "tgn-soft-round", sans-serif;
font-weight: 400;
font-style: normal;
Trade Gothic Next SR Pro Bold
font-family: "tgn-soft-round", sans-serif;
font-weight: 700;
font-style: normal;
Trade Gothic Next SR Pro Heavy
font-family: "tgn-soft-round", sans-serif;
font-weight: 800;
font-style: normal;
Trade Gothic Next LT Pro Compressed
font-family: "trade-gothic-next-compressed", sans-serif;
font-weight: 400;
font-style: normal;
Trade Gothic Next LT Pro Bold Compressed
font-family: "trade-gothic-next-compressed", sans-serif;
font-weight: 700;
font-style: normal;
Trade Gothic Next LT Pro Heavy Compressed
font-family: "trade-gothic-next-compressed", sans-serif;
font-weight: 800;
font-style: normal;
Trade Gothic Next SR Pro Compressed
font-family: "tgn-soft-round-comp", sans-serif;
font-weight: 400;
font-style: normal;
Trade Gothic Next SR Pro Bold Compressed
font-family: "tgn-soft-round-comp", sans-serif;
font-weight: 700;
font-style: normal;
Trade Gothic Next SR Pro Heavy Compressed
font-family: "tgn-soft-round-comp", sans-serif;
font-weight: 800;
font-style: normal;
Trade Gothic Next LT Pro Condensed
font-family: "trade-gothic-next-condensed", sans-serif;
font-weight: 400;
font-style: normal;
Trade Gothic Next LT Pro Condensed Italic
font-family: "trade-gothic-next-condensed", sans-serif;
font-weight: 400;
font-style: italic;
Trade Gothic Next LT Pro Bold Condensed
font-family: "trade-gothic-next-condensed", sans-serif;
font-weight: 700;
font-style: normal;
Trade Gothic Next LT Pro Bold Condensed Italic
font-family: "trade-gothic-next-condensed", sans-serif;
font-weight: 700;
font-style: italic;
Trade Gothic Next LT Pro Heavy Condensed
font-family: "trade-gothic-next-condensed", sans-serif;
font-weight: 800;
font-style: normal;
Trade Gothic Next LT Pro Heavy Condensed Italic
font-family: "trade-gothic-next-condensed", sans-serif;
font-weight: 800;
font-style: italic;
Trade Gothic Next SR Pro Condensed
font-family: "tgn-soft-round-con", sans-serif;
font-weight: 400;
font-style: normal;
Trade Gothic Next SR Pro Bold Condensed
font-family: "tgn-soft-round-con", sans-serif;
font-weight: 700;
font-style: normal;
Trade Gothic Next SR Pro Heavy Condensed
font-family: "tgn-soft-round-con", sans-serif;
font-weight: 800;
font-style: normal; */



/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v139/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
} 