
.background-color\:test {background-color: red;}


.background-color\:base-color,
.background-color\:base-100-tint { background-color: var(--base-color) !important; }
.background-color\:base-98-tint { background-color: var(--base-color-98-tint) !important; }
.background-color\:base-90-tint { background-color: var(--base-color-90-tint) !important; }
.background-color\:base-80-tint { background-color: var(--base-color-80-tint) !important; }
.background-color\:base-color-light,
.background-color\:base-73-tint { background-color: var(--base-color-73-tint) !important; }
.background-color\:base-70-tint { background-color: var(--base-color-70-tint) !important; }
.background-color\:base-60-tint { background-color: var(--base-color-60-tint) !important; }
.background-color\:base-50-tint { background-color: var(--base-color-50-tint) !important; }
.background-color\:base-40-tint { background-color: var(--base-color-40-tint) !important; }
.background-color\:base-30-tint { background-color: var(--base-color-30-tint) !important; }
.background-color\:base-20-tint { background-color: var(--base-color-20-tint) !important; }
.background-color\:base-color-super-light,
.background-color\:base-11-tint { background-color: var(--base-color-11-tint) !important; }
.background-color\:base-10-tint { background-color: var(--base-color-10-tint) !important; }
.background-color\:base-7-tint { background-color: var(--base-color-07-tint) !important; }
.background-color\:base-5-tint { background-color: var(--base-color-05-tint) !important; }
.background-color\:base-2-tint { background-color: var(--base-color-02-tint) !important; }

.background-color\:primary-color,
.background-color\:primary-100-tint { background-color: var(--primary-color) !important; }
.background-color\:primary-98-tint { background-color: var(--primary-color-98-tint) !important; }
.background-color\:primary-90-tint { background-color: var(--primary-color-90-tint) !important; }
.background-color\:primary-80-tint { background-color: var(--primary-color-80-tint) !important; }
.background-color\:primary-color-light,
.background-color\:primary-73-tint { background-color: var(--primary-color-73-tint) !important; }
.background-color\:primary-70-tint { background-color: var(--primary-color-70-tint) !important; }
.background-color\:primary-60-tint { background-color: var(--primary-color-60-tint) !important; }
.background-color\:primary-50-tint { background-color: var(--primary-color-50-tint) !important; }
.background-color\:primary-40-tint { background-color: var(--primary-color-40-tint) !important; }
.background-color\:primary-30-tint { background-color: var(--primary-color-30-tint) !important; }
.background-color\:primary-20-tint { background-color: var(--primary-color-20-tint) !important; }
.background-color\:primary-color-super-light,
.background-color\:primary-11-tint { background-color: var(--primary-color-11-tint) !important; }
.background-color\:primary-10-tint { background-color: var(--primary-color-10-tint) !important; }
.background-color\:primary-5-tint { background-color: var(--primary-color-05-tint) !important; }
.background-color\:primary-2-tint { background-color: var(--primary-color-02-tint) !important; }

.background-color\:secondary-color,
.background-color\:secondary-100-tint { background-color: var(--secondary-color) !important; }
.background-color\:secondary-98-tint { background-color: var(--secondary-color-98-tint) !important; }
.background-color\:secondary-90-tint { background-color: var(--secondary-color-90-tint) !important; }
.background-color\:secondary-80-tint { background-color: var(--secondary-color-80-tint) !important; }
.background-color\:secondary-color-light,
.background-color\:secondary-73-tint { background-color: var(--secondary-color-73-tint) !important; }
.background-color\:secondary-70-tint { background-color: var(--secondary-color-70-tint) !important; }
.background-color\:secondary-60-tint { background-color: var(--secondary-color-60-tint) !important; }
.background-color\:secondary-50-tint { background-color: var(--secondary-color-50-tint) !important; }
.background-color\:secondary-40-tint { background-color: var(--secondary-color-40-tint) !important; }
.background-color\:secondary-30-tint { background-color: var(--secondary-color-30-tint) !important; }
.background-color\:secondary-20-tint { background-color: var(--secondary-color-20-tint) !important; }
.background-color\:secondary-color-super-light,
.background-color\:secondary-11-tint { background-color: var(--secondary-color-11-tint) !important; }
.background-color\:secondary-10-tint { background-color: var(--secondary-color-10-tint) !important; }
.background-color\:secondary-5-tint { background-color: var(--secondary-color-05-tint) !important; }
.background-color\:secondary-2-tint { background-color: var(--secondary-color-02-tint) !important; }

.background-color\:accent-color,
.background-color\:accent-100-tint { background-color: var(--accent-color) !important; }
.background-color\:accent-98-tint { background-color: var(--accent-color-98-tint) !important; }
.background-color\:accent-90-tint { background-color: var(--accent-color-90-tint) !important; }
.background-color\:accent-80-tint { background-color: var(--accent-color-80-tint) !important; }
.background-color\:accent-color-light,
.background-color\:accent-73-tint { background-color: var(--accent-color-73-tint) !important; }
.background-color\:accent-70-tint { background-color: var(--accent-color-70-tint) !important; }
.background-color\:accent-60-tint { background-color: var(--accent-color-60-tint) !important; }
.background-color\:accent-50-tint { background-color: var(--accent-color-50-tint) !important; }
.background-color\:accent-40-tint { background-color: var(--accent-color-40-tint) !important; }
.background-color\:accent-30-tint { background-color: var(--accent-color-30-tint) !important; }
.background-color\:accent-20-tint { background-color: var(--accent-color-20-tint) !important; }
.background-color\:accent-color-super-light,
.background-color\:accent-11-tint { background-color: var(--accent-color-11-tint) !important; }
.background-color\:accent-10-tint { background-color: var(--accent-color-10-tint) !important; }
.background-color\:accent-5-tint { background-color: var(--accent-color-05-tint) !important; }
.background-color\:accent-2-tint { background-color: var(--accent-color-02-tint) !important; }

.background-color\:black-color,
.background-color\:black-100-tint { background-color: var(--black-color) !important; }
.background-color\:black-98-tint { background-color: var(--black-color-98-tint) !important; }
.background-color\:black-90-tint { background-color: var(--black-color-90-tint) !important; }
.background-color\:black-80-tint { background-color: var(--black-color-80-tint) !important; }
.background-color\:black-color-light,
.background-color\:black-73-tint { background-color: var(--black-color-73-tint) !important; }
.background-color\:black-70-tint { background-color: var(--black-color-70-tint) !important; }
.background-color\:black-60-tint { background-color: var(--black-color-60-tint) !important; }
.background-color\:black-50-tint { background-color: var(--black-color-50-tint) !important; }
.background-color\:black-40-tint { background-color: var(--black-color-40-tint) !important; }
.background-color\:black-30-tint { background-color: var(--black-color-30-tint) !important; }
.background-color\:black-20-tint { background-color: var(--black-color-20-tint) !important; }
.background-color\:black-color-super-light,
.background-color\:black-11-tint { background-color: var(--black-color-11-tint) !important; }
.background-color\:black-10-tint { background-color: var(--black-color-10-tint) !important; }
.background-color\:black-5-tint { background-color: var(--black-color-05-tint) !important; }
.background-color\:black-2-tint { background-color: var(--black-color-02-tint) !important; }

.background-color\:success-color,
.background-color\:success-100-tint { background-color: var(--success-color) !important; }
.background-color\:success-98-tint { background-color: var(--success-color-98-tint) !important; }
.background-color\:success-90-tint { background-color: var(--success-color-90-tint) !important; }
.background-color\:success-80-tint { background-color: var(--success-color-80-tint) !important; }
.background-color\:success-color-light,
.background-color\:success-73-tint { background-color: var(--success-color-73-tint) !important; }
.background-color\:success-70-tint { background-color: var(--success-color-70-tint) !important; }
.background-color\:success-60-tint { background-color: var(--success-color-60-tint) !important; }
.background-color\:success-50-tint { background-color: var(--success-color-50-tint) !important; }
.background-color\:success-40-tint { background-color: var(--success-color-40-tint) !important; }
.background-color\:success-30-tint { background-color: var(--success-color-30-tint) !important; }
.background-color\:success-20-tint { background-color: var(--success-color-20-tint) !important; }
.background-color\:success-color-super-light,
.background-color\:success-11-tint { background-color: var(--success-color-11-tint) !important; }
.background-color\:success-10-tint { background-color: var(--success-color-10-tint) !important; }
.background-color\:success-5-tint { background-color: var(--success-color-05-tint) !important; }
.background-color\:success-2-tint { background-color: var(--success-color-02-tint) !important; }

.background-color\:fail-color,
.background-color\:fail-100-tint { background-color: var(--fail-color) !important; }
.background-color\:fail-98-tint { background-color: var(--fail-color-98-tint) !important; }
.background-color\:fail-90-tint { background-color: var(--fail-color-90-tint) !important; }
.background-color\:fail-80-tint { background-color: var(--fail-color-80-tint) !important; }
.background-color\:fail-color-light,
.background-color\:fail-73-tint { background-color: var(--fail-color-73-tint) !important; }
.background-color\:fail-70-tint { background-color: var(--fail-color-70-tint) !important; }
.background-color\:fail-60-tint { background-color: var(--fail-color-60-tint) !important; }
.background-color\:fail-50-tint { background-color: var(--fail-color-50-tint) !important; }
.background-color\:fail-40-tint { background-color: var(--fail-color-40-tint) !important; }
.background-color\:fail-30-tint { background-color: var(--fail-color-30-tint) !important; }
.background-color\:fail-20-tint { background-color: var(--fail-color-20-tint) !important; }
.background-color\:fail-color-super-light,
.background-color\:fail-11-tint { background-color: var(--fail-color-11-tint) !important; }
.background-color\:fail-10-tint { background-color: var(--fail-color-10-tint) !important; }
.background-color\:fail-5-tint { background-color: var(--fail-color-05-tint) !important; }
.background-color\:fail-2-tint { background-color: var(--fail-color-02-tint) !important; }

.background-color\:warning-color,
.background-color\:warning-100-tint { background-color: var(--warning-color) !important; }
.background-color\:warning-98-tint { background-color: var(--warning-color-98-tint) !important; }
.background-color\:warning-90-tint { background-color: var(--warning-color-90-tint) !important; }
.background-color\:warning-80-tint { background-color: var(--warning-color-80-tint) !important; }
.background-color\:warning-color-light,
.background-color\:warning-73-tint { background-color: var(--warning-color-73-tint) !important; }
.background-color\:warning-70-tint { background-color: var(--warning-color-70-tint) !important; }
.background-color\:warning-60-tint { background-color: var(--warning-color-60-tint) !important; }
.background-color\:warning-50-tint { background-color: var(--warning-color-50-tint) !important; }
.background-color\:warning-40-tint { background-color: var(--warning-color-40-tint) !important; }
.background-color\:warning-30-tint { background-color: var(--warning-color-30-tint) !important; }
.background-color\:warning-20-tint { background-color: var(--warning-color-20-tint) !important; }
.background-color\:warning-color-super-light,
.background-color\:warning-11-tint { background-color: var(--warning-color-11-tint) !important; }
.background-color\:warning-10-tint { background-color: var(--warning-color-10-tint) !important; }
.background-color\:warning-5-tint { background-color: var(--warning-color-05-tint) !important; }
.background-color\:warning-2-tint { background-color: var(--warning-color-02-tint) !important; }

.background-color\:info-color,
.background-color\:info-100-tint { background-color: var(--info-color) !important; }
.background-color\:info-98-tint { background-color: var(--info-color-98-tint) !important; }
.background-color\:info-90-tint { background-color: var(--info-color-90-tint) !important; }
.background-color\:info-80-tint { background-color: var(--info-color-80-tint) !important; }
.background-color\:info-color-light,
.background-color\:info-73-tint { background-color: var(--info-color-73-tint) !important; }
.background-color\:info-70-tint { background-color: var(--info-color-70-tint) !important; }
.background-color\:info-60-tint { background-color: var(--info-color-60-tint) !important; }
.background-color\:info-50-tint { background-color: var(--info-color-50-tint) !important; }
.background-color\:info-40-tint { background-color: var(--info-color-40-tint) !important; }
.background-color\:info-30-tint { background-color: var(--info-color-30-tint) !important; }
.background-color\:info-20-tint { background-color: var(--info-color-20-tint) !important; }
.background-color\:info-color-super-light,
.background-color\:info-11-tint { background-color: var(--info-color-11-tint) !important; }
.background-color\:info-10-tint { background-color: var(--info-color-10-tint) !important; }
.background-color\:info-5-tint { background-color: var(--info-color-05-tint) !important; }
.background-color\:info-2-tint { background-color: var(--info-color-02-tint) !important; }

.background-color\:base-color { background-color: var(--base-color) !important; }
.background-color\:base-98-shade { background-color: var(--base-color-98-shade) !important; }
.background-color\:base-90-shade { background-color: var(--base-color-90-shade) !important; }
.background-color\:base-80-shade { background-color: var(--base-color-80-shade) !important; }
.background-color\:base-color-dark,
.background-color\:base-73-shade { background-color: var(--base-color-73-shade) !important; }
.background-color\:base-70-shade { background-color: var(--base-color-70-shade) !important; }
.background-color\:base-60-shade { background-color: var(--base-color-60-shade) !important; }
.background-color\:base-50-shade { background-color: var(--base-color-50-shade) !important; }
.background-color\:base-40-shade { background-color: var(--base-color-40-shade) !important; }
.background-color\:base-30-shade { background-color: var(--base-color-30-shade) !important; }
.background-color\:base-20-shade { background-color: var(--base-color-20-shade) !important; }
.background-color\:base-color-super-dark,
.background-color\:base-11-shade { background-color: var(--base-color-11-shade) !important; }
.background-color\:base-10-shade { background-color: var(--base-color-10-shade) !important; }
.background-color\:base-5-shade { background-color: var(--base-color-05-shade) !important; }
.background-color\:base-2-shade { background-color: var(--base-color-02-shade) !important; }

.background-color\:primary-color { background-color: var(--primary-color) !important; }
.background-color\:primary-98-shade { background-color: var(--primary-color-98-shade) !important; }
.background-color\:primary-90-shade { background-color: var(--primary-color-90-shade) !important; }
.background-color\:primary-80-shade { background-color: var(--primary-color-80-shade) !important; }
.background-color\:primary-color-dark,
.background-color\:primary-73-shade { background-color: var(--primary-color-73-shade) !important; }
.background-color\:primary-70-shade { background-color: var(--primary-color-70-shade) !important; }
.background-color\:primary-60-shade { background-color: var(--primary-color-60-shade) !important; }
.background-color\:primary-50-shade { background-color: var(--primary-color-50-shade) !important; }
.background-color\:primary-40-shade { background-color: var(--primary-color-40-shade) !important; }
.background-color\:primary-30-shade { background-color: var(--primary-color-30-shade) !important; }
.background-color\:primary-20-shade { background-color: var(--primary-color-20-shade) !important; }
.background-color\:primary-color-super-dark,
.background-color\:primary-11-shade { background-color: var(--primary-color-11-shade) !important; }
.background-color\:primary-10-shade { background-color: var(--primary-color-10-shade) !important; }
.background-color\:primary-5-shade { background-color: var(--primary-color-05-shade) !important; }
.background-color\:primary-2-shade { background-color: var(--primary-color-02-shade) !important; }

.background-color\:secondary-color { background-color: var(--secondary-color) !important; }
.background-color\:secondary-98-shade { background-color: var(--secondary-color-98-shade) !important; }
.background-color\:secondary-90-shade { background-color: var(--secondary-color-90-shade) !important; }
.background-color\:secondary-80-shade { background-color: var(--secondary-color-80-shade) !important; }
.background-color\:secondary-color-dark,
.background-color\:secondary-73-shade { background-color: var(--secondary-color-73-shade) !important; }
.background-color\:secondary-70-shade { background-color: var(--secondary-color-70-shade) !important; }
.background-color\:secondary-60-shade { background-color: var(--secondary-color-60-shade) !important; }
.background-color\:secondary-50-shade { background-color: var(--secondary-color-50-shade) !important; }
.background-color\:secondary-40-shade { background-color: var(--secondary-color-40-shade) !important; }
.background-color\:secondary-30-shade { background-color: var(--secondary-color-30-shade) !important; }
.background-color\:secondary-20-shade { background-color: var(--secondary-color-20-shade) !important; }
.background-color\:secondary-color-super-dark,
.background-color\:secondary-11-shade { background-color: var(--secondary-color-11-shade) !important; }
.background-color\:secondary-10-shade { background-color: var(--secondary-color-10-shade) !important; }
.background-color\:secondary-5-shade { background-color: var(--secondary-color-05-shade) !important; }
.background-color\:secondary-2-shade { background-color: var(--secondary-color-02-shade) !important; }

.background-color\:accent-color { background-color: var(--accent-color) !important; }
.background-color\:accent-98-shade { background-color: var(--accent-color-98-shade) !important; }
.background-color\:accent-90-shade { background-color: var(--accent-color-90-shade) !important; }
.background-color\:accent-80-shade { background-color: var(--accent-color-80-shade) !important; }
.background-color\:accent-color-dark,
.background-color\:accent-73-shade { background-color: var(--accent-color-73-shade) !important; }
.background-color\:accent-70-shade { background-color: var(--accent-color-70-shade) !important; }
.background-color\:accent-60-shade { background-color: var(--accent-color-60-shade) !important; }
.background-color\:accent-50-shade { background-color: var(--accent-color-50-shade) !important; }
.background-color\:accent-40-shade { background-color: var(--accent-color-40-shade) !important; }
.background-color\:accent-30-shade { background-color: var(--accent-color-30-shade) !important; }
.background-color\:accent-20-shade { background-color: var(--accent-color-20-shade) !important; }
.background-color\:accent-color-super-dark,
.background-color\:accent-11-shade { background-color: var(--accent-color-11-shade) !important; }
.background-color\:accent-10-shade { background-color: var(--accent-color-10-shade) !important; }
.background-color\:accent-5-shade { background-color: var(--accent-color-05-shade) !important; }
.background-color\:accent-2-shade { background-color: var(--accent-color-02-shade) !important; }

.background-color\:black-color { background-color: var(--black-color) !important; }
.background-color\:black-98-shade { background-color: var(--black-color-98-shade) !important; }
.background-color\:black-90-shade { background-color: var(--black-color-90-shade) !important; }
.background-color\:black-80-shade { background-color: var(--black-color-80-shade) !important; }
.background-color\:black-color-dark,
.background-color\:black-73-shade { background-color: var(--black-color-73-shade) !important; }
.background-color\:black-70-shade { background-color: var(--black-color-70-shade) !important; }
.background-color\:black-60-shade { background-color: var(--black-color-60-shade) !important; }
.background-color\:black-50-shade { background-color: var(--black-color-50-shade) !important; }
.background-color\:black-40-shade { background-color: var(--black-color-40-shade) !important; }
.background-color\:black-30-shade { background-color: var(--black-color-30-shade) !important; }
.background-color\:black-20-shade { background-color: var(--black-color-20-shade) !important; }
.background-color\:black-color-super-dark,
.background-color\:black-11-shade { background-color: var(--black-color-11-shade) !important; }
.background-color\:black-10-shade { background-color: var(--black-color-10-shade) !important; }
.background-color\:black-5-shade { background-color: var(--black-color-05-shade) !important; }
.background-color\:black-2-shade { background-color: var(--black-color-02-shade) !important; }

.background-color\:success-color { background-color: var(--success-color) !important; }
.background-color\:success-98-shade { background-color: var(--success-color-98-shade) !important; }
.background-color\:success-90-shade { background-color: var(--success-color-90-shade) !important; }
.background-color\:success-80-shade { background-color: var(--success-color-80-shade) !important; }
.background-color\:success-color-dark,
.background-color\:success-73-shade { background-color: var(--success-color-73-shade) !important; }
.background-color\:success-70-shade { background-color: var(--success-color-70-shade) !important; }
.background-color\:success-60-shade { background-color: var(--success-color-60-shade) !important; }
.background-color\:success-50-shade { background-color: var(--success-color-50-shade) !important; }
.background-color\:success-40-shade { background-color: var(--success-color-40-shade) !important; }
.background-color\:success-30-shade { background-color: var(--success-color-30-shade) !important; }
.background-color\:success-20-shade { background-color: var(--success-color-20-shade) !important; }
.background-color\:success-color-super-dark,
.background-color\:success-11-shade { background-color: var(--success-color-11-shade) !important; }
.background-color\:success-10-shade { background-color: var(--success-color-10-shade) !important; }
.background-color\:success-5-shade { background-color: var(--success-color-05-shade) !important; }
.background-color\:success-2-shade { background-color: var(--success-color-02-shade) !important; }

.background-color\:fail-color { background-color: var(--fail-color) !important; }
.background-color\:fail-98-shade { background-color: var(--fail-color-98-shade) !important; }
.background-color\:fail-90-shade { background-color: var(--fail-color-90-shade) !important; }
.background-color\:fail-80-shade { background-color: var(--fail-color-80-shade) !important; }
.background-color\:fail-color-dark,
.background-color\:fail-73-shade { background-color: var(--fail-color-73-shade) !important; }
.background-color\:fail-70-shade { background-color: var(--fail-color-70-shade) !important; }
.background-color\:fail-60-shade { background-color: var(--fail-color-60-shade) !important; }
.background-color\:fail-50-shade { background-color: var(--fail-color-50-shade) !important; }
.background-color\:fail-40-shade { background-color: var(--fail-color-40-shade) !important; }
.background-color\:fail-30-shade { background-color: var(--fail-color-30-shade) !important; }
.background-color\:fail-20-shade { background-color: var(--fail-color-20-shade) !important; }
.background-color\:fail-color-super-dark,
.background-color\:fail-11-shade { background-color: var(--fail-color-11-shade) !important; }
.background-color\:fail-10-shade { background-color: var(--fail-color-10-shade) !important; }
.background-color\:fail-5-shade { background-color: var(--fail-color-05-shade) !important; }
.background-color\:fail-2-shade { background-color: var(--fail-color-02-shade) !important; }

.background-color\:warning-color { background-color: var(--warning-color) !important; }
.background-color\:warning-98-shade { background-color: var(--warning-color-98-shade) !important; }
.background-color\:warning-90-shade { background-color: var(--warning-color-90-shade) !important; }
.background-color\:warning-80-shade { background-color: var(--warning-color-80-shade) !important; }
.background-color\:warning-color-dark,
.background-color\:warning-73-shade { background-color: var(--warning-color-73-shade) !important; }
.background-color\:warning-70-shade { background-color: var(--warning-color-70-shade) !important; }
.background-color\:warning-60-shade { background-color: var(--warning-color-60-shade) !important; }
.background-color\:warning-50-shade { background-color: var(--warning-color-50-shade) !important; }
.background-color\:warning-40-shade { background-color: var(--warning-color-40-shade) !important; }
.background-color\:warning-30-shade { background-color: var(--warning-color-30-shade) !important; }
.background-color\:warning-20-shade { background-color: var(--warning-color-20-shade) !important; }
.background-color\:warning-color-super-dark,
.background-color\:warning-11-shade { background-color: var(--warning-color-11-shade) !important; }
.background-color\:warning-10-shade { background-color: var(--warning-color-10-shade) !important; }
.background-color\:warning-5-shade { background-color: var(--warning-color-05-shade) !important; }
.background-color\:warning-2-shade { background-color: var(--warning-color-02-shade) !important; }

.background-color\:info-color { background-color: var(--info-color) !important; }
.background-color\:info-98-shade { background-color: var(--info-color-98-shade) !important; }
.background-color\:info-90-shade { background-color: var(--info-color-90-shade) !important; }
.background-color\:info-80-shade { background-color: var(--info-color-80-shade) !important; }
.background-color\:info-color-dark,
.background-color\:info-73-shade { background-color: var(--info-color-73-shade) !important; }
.background-color\:info-70-shade { background-color: var(--info-color-70-shade) !important; }
.background-color\:info-60-shade { background-color: var(--info-color-60-shade) !important; }
.background-color\:info-50-shade { background-color: var(--info-color-50-shade) !important; }
.background-color\:info-40-shade { background-color: var(--info-color-40-shade) !important; }
.background-color\:info-30-shade { background-color: var(--info-color-30-shade) !important; }
.background-color\:info-20-shade { background-color: var(--info-color-20-shade) !important; }
.background-color\:info-color-super-dark,
.background-color\:info-11-shade { background-color: var(--info-color-11-shade) !important; }
.background-color\:info-10-shade { background-color: var(--info-color-10-shade) !important; }
.background-color\:info-5-shade { background-color: var(--info-color-05-shade) !important; }
.background-color\:info-2-shade { background-color: var(--info-color-02-shade) !important; }
