.text-align\:left { text-align: left;}
.text-align\:center { text-align: center;}
.text-align\:right { text-align: right;}

.padding-block\:3xs { padding-block: var(--space-3xs); }
.padding-block\:2xs { padding-block: var(--space-2xs); }
.padding-block\:xs { padding-block: var(--space-xs); }
.padding-block\:s { padding-block: var(--space-s); }
.padding-block\:m { padding-block: var(--space-m); }
.padding-block\:l { padding-block: var(--space-l); }
.padding-block\:xl { padding-block: var(--space-xl); }
.padding-block\:2xl { padding-block: var(--space-2xl); }
.padding-block\:3xl { padding-block: var(--space-3xl); }

.padding-inline\:3xs { padding-inline: var(--space-3xs); }
.padding-inline\:2xs { padding-inline: var(--space-2xs); }
.padding-inline\:xs { padding-inline: var(--space-xs); }
.padding-inline\:s { padding-inline: var(--space-s); }
.padding-inline\:m { padding-inline: var(--space-m); }
.padding-inline\:l { padding-inline: var(--space-l); }
.padding-inline\:xl { padding-inline: var(--space-xl); }
.padding-inline\:2xl { padding-inline: var(--space-2xl); }
.padding-inline\:3xl { padding-inline: var(--space-3xl); }

.padding-left\:3xs { padding-left: var(--space-3xs); }
.padding-left\:2xs { padding-left: var(--space-2xs); }
.padding-left\:xs { padding-left: var(--space-xs); }
.padding-left\:s { padding-left: var(--space-s); }
.padding-left\:m { padding-left: var(--space-m); }
.padding-left\:l { padding-left: var(--space-l); }
.padding-left\:xl { padding-left: var(--space-xl); }
.padding-left\:2xl { padding-left: var(--space-2xl); }
.padding-left\:3xl { padding-left: var(--space-3xl); }

.padding-right\:3xs { padding-right: var(--space-3xs); }
.padding-right\:2xs { padding-right: var(--space-2xs); }
.padding-right\:xs { padding-right: var(--space-xs); }
.padding-right\:s { padding-right: var(--space-s); }
.padding-right\:m { padding-right: var(--space-m); }
.padding-right\:l { padding-right: var(--space-l); }
.padding-right\:xl { padding-right: var(--space-xl); }
.padding-right\:2xl { padding-right: var(--space-2xl); }
.padding-right\:3xl { padding-right: var(--space-3xl); }

.padding-top\:3xs { padding-top: var(--space-3xs); }
.padding-top\:2xs { padding-top: var(--space-2xs); }
.padding-top\:xs { padding-top: var(--space-xs); }
.padding-top\:s { padding-top: var(--space-s); }
.padding-top\:m { padding-top: var(--space-m); }
.padding-top\:l { padding-top: var(--space-l); }
.padding-top\:xl { padding-top: var(--space-xl); }
.padding-top\:2xl { padding-top: var(--space-2xl); }
.padding-top\:3xl { padding-top: var(--space-3xl); }

.padding-bottom\:3xs { padding-bottom: var(--space-3xs); }
.padding-bottom\:2xs { padding-bottom: var(--space-2xs); }
.padding-bottom\:xs { padding-bottom: var(--space-xs); }
.padding-bottom\:s { padding-bottom: var(--space-s); }
.padding-bottom\:m { padding-bottom: var(--space-m); }
.padding-bottom\:l { padding-bottom: var(--space-l); }
.padding-bottom\:xl { padding-bottom: var(--space-xl); }
.padding-bottom\:2xl { padding-bottom: var(--space-2xl); }
.padding-bottom\:3xl { padding-bottom: var(--space-3xl); }

.margin-block\:3xs { margin-block: var(--space-3xs); }
.margin-block\:2xs { margin-block: var(--space-2xs); }
.margin-block\:xs { margin-block: var(--space-xs); }
.margin-block\:s { margin-block: var(--space-s); }
.margin-block\:m { margin-block: var(--space-m); }
.margin-block\:l { margin-block: var(--space-l); }
.margin-block\:xl { margin-block: var(--space-xl); }
.margin-block\:2xl { margin-block: var(--space-2xl); }
.margin-block\:3xl { margin-block: var(--space-3xl); }
.margin-block\:auto { margin-block: auto; }

.margin-inline\:3xs { margin-inline: var(--space-3xs); }
.margin-inline\:2xs { margin-inline: var(--space-2xs); }
.margin-inline\:xs { margin-inline: var(--space-xs); }
.margin-inline\:s { margin-inline: var(--space-s); }
.margin-inline\:m { margin-inline: var(--space-m); }
.margin-inline\:l { margin-inline: var(--space-l); }
.margin-inline\:xl { margin-inline: var(--space-xl); }
.margin-inline\:2xl { margin-inline: var(--space-2xl); }
.margin-inline\:3xl { margin-inline: var(--space-3xl); }
.margin-inline\:auto { margin-inline: auto; }

.margin-left\:3xs { margin-left: var(--space-3xs); }
.margin-left\:2xs { margin-left: var(--space-2xs); }
.margin-left\:xs { margin-left: var(--space-xs); }
.margin-left\:s { margin-left: var(--space-s); }
.margin-left\:m { margin-left: var(--space-m); }
.margin-left\:l { margin-left: var(--space-l); }
.margin-left\:xl { margin-left: var(--space-xl); }
.margin-left\:2xl { margin-left: var(--space-2xl); }
.margin-left\:3xl { margin-left: var(--space-3xl); }
.margin-left\:auto { margin-left: auto; }

.margin-right\:3xs { margin-right: var(--space-3xs); }
.margin-right\:2xs { margin-right: var(--space-2xs); }
.margin-right\:xs { margin-right: var(--space-xs); }
.margin-right\:s { margin-right: var(--space-s); }
.margin-right\:m { margin-right: var(--space-m); }
.margin-right\:l { margin-right: var(--space-l); }
.margin-right\:xl { margin-right: var(--space-xl); }
.margin-right\:2xl { margin-right: var(--space-2xl); }
.margin-right\:3xl { margin-right: var(--space-3xl); }
.margin-right\:auto { margin-right: auto; }

.margin-top\:3xs { margin-top: var(--space-3xs); }
.margin-top\:2xs { margin-top: var(--space-2xs); }
.margin-top\:xs { margin-top: var(--space-xs); }
.margin-top\:s { margin-top: var(--space-s); }
.margin-top\:m { margin-top: var(--space-m); }
.margin-top\:l { margin-top: var(--space-l); }
.margin-top\:xl { margin-top: var(--space-xl); }
.margin-top\:2xl { margin-top: var(--space-2xl); }
.margin-top\:3xl { margin-top: var(--space-3xl); }
.margin-top\:auto { margin-top: auto; }

.margin-bottom\:3xs { margin-bottom: var(--space-3xs); }
.margin-bottom\:2xs { margin-bottom: var(--space-2xs); }
.margin-bottom\:xs { margin-bottom: var(--space-xs); }
.margin-bottom\:s { margin-bottom: var(--space-s); }
.margin-bottom\:m { margin-bottom: var(--space-m); }
.margin-bottom\:l { margin-bottom: var(--space-l); }
.margin-bottom\:xl { margin-bottom: var(--space-xl); }
.margin-bottom\:2xl { margin-bottom: var(--space-2xl); }
.margin-bottom\:3xl { margin-bottom: var(--space-3xl); }
.margin-bottom\:auto { margin-bottom: auto; }