[icon]:before,
[data-icon]:before,
.icon {
  font-family: "Material Symbols Outlined";
  font-variation-settings: "FILL" 0, "wght" 200, "GRAD" 0, "opsz" 24;
}

.icon,
[icon]:before,
[data-icon]:before {
  margin-block: 3px;
  font-size: 1.8rem;
}

.icon,
[icon]:before,
[data-icon] {
  content: attr(data-icon);
}

.font-size\:-2 { font-size: var(--size--2); }
.font-size\:-1 { font-size: var(--size--1); }
.font-size\:0 { font-size: var(--size-0); }
.font-size\:1 { font-size: var(--size-1); }
.font-size\:2 { font-size: var(--size-2); }
.font-size\:3 { font-size: var(--size-3); }
.font-size\:4 { font-size: var(--size-4); }
.font-size\:5 { font-size: var(--size-5); }

.font-weight\:100 { font-weight: 100; }
.font-weight\:200 { font-weight: 200; }
.font-weight\:300 { font-weight: 300; }
.font-weight\:400 { font-weight: 400; }
.font-weight\:500 { font-weight: 500; }
.font-weight\:600 { font-weight: 600; }
.font-weight\:700 { font-weight: 700; }

.text-transform\:uppercase { text-transform: uppercase; }
.text-transform\:lowercase { text-transform: lowercase; }
.text-transform\:capitalize { text-transform: capitalize; }
.text-transform\:none { text-transform: none; }

.float/:left { float: left; }
.float/:right { float: right; }

.aux {
  outline: 2px solid red;
  background-color: rgba(255, 0, 0, 0.1);
}

.aux-card {
  outline: 2px solid blue;
  background-color: rgba(0, 0, 255, 0.1);
  padding: 1rem;
  border-radius: 0.5rem;
  aspect-ratio: 16 / 9;
}

.hide-on-mobile {
  @media (max-width: 768px) {
    display: none !important;
  }
}




.subgrid {
  /* display: grid; */
  grid-template-columns: subgrid;
  grid-column: inherit;
}